/* FICHIER CSS POUR LA PAGE COMPTE.HTML */
/* ========================================================= */

/* DIV CREATION COMPTE */
/* ========================================================= */

#div_create_compte{
	text-align: center;
}

/* DIV LISTE COMPTE */
/* ========================================================= */
#div_compte{
	position: absolute;
	min-width:20%;
	top:35px;
	left: 0px;
	min-height: 200px;
	border-right: 1px solid #0174DF;
}

#div_compte ul{
	margin: 0px;
	padding: 0px;
}

#div_compte li{
	padding: 10px;
	text-align: right;
	border-bottom: 1px solid orange;
}

#div_compte li:hover{
	cursor: pointer;
	background-color: #8BA6BD;
}

.span_vert{
	color:green;
}

.span_rouge{
	color:red;
}

/* DIV DETAIL COMPTE */
/* ========================================================= */
#div_detail_compte{
	position: absolute;
	min-width:50%;
	top:75px;
	left: 30%;
	min-height: 200px;
	text-align: right;
}

#div_detail_compte table tr td:last-child{
	text-align: left;
	padding: 10px;
}

#div_detail_compte table{
	margin-bottom: 25px;
}