{include="composant/head"}

<!-- IMPORT DU STYLE CSS DE LA PAGE -->
<link rel="stylesheet" type="text/css" href="../css/index.css">

<script type="text/javascript" src="../lib/highcharts/adapters/standalone-framework.js"></script>
<script type="text/javascript" src="../lib/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../lib/highcharts/modules/exporting.js"></script>

<div id="widget">
	{include="widget/solde_compte"}

	{include="widget/depense_categorie"}

	{include="widget/budget_categorie"}
</div>

<!-- IMPORT DU FICHIER JS DE LA PAGE -->
<script type="text/javascript" src="../js/index.js"></script>

{include="composant/foot"}