<table id-"tab_detail_compte">
	<tr>
		<td>
			Libell&eacute; :
		</td>
		<td>
			<input type="text" id="txt_libelle" name="txt_libelle" class="input_large" value="{$compte.libelle}" data-type="string" data-label="le libellé"/>
		</td>
	</tr>
	<tr>
		<td>
			Solde actuel :
		</td>
		<td>
			{$compte.solde_actuel} &euro;
		</td>
	</tr>
	<tr>
		<td>
			Solde saisi :
		</td>
		<td>
			<input type="text" id="txt_solde" name="txt_solde" class="input_medium" value="{$compte.solde|number_format:2,',',''}" data-type="double" data-label="le solde" data-nullable="true"/> &euro;
		</td>
	</tr>
	<tr>
		<td>
			Date mise &agrave; jour solde :
		</td>
		<td>
			<input type="text" id="txt_date_solde" name="txt_date_solde" class="input_medium" value="{$compte.date_solde|substr:6}/{$compte.date_solde|substr:4,2}/{$compte.date_solde|substr:0,4}" data-type="date" data-label="la date du solde" data-nullable="true" data-link-required="txt_solde"/>
		</td>
	</tr>
</table>
{if condition="$compte.utilise == 'false'"}
	<button id="btn_supprimer" class="btn_gris" onclick="supprimer_compte({$compte.id})">Supprimer</button>
{/if}
<button id="btn_modifier" onclick="modifier_compte({$compte.id})">Mettre à jour</button>