<table id="tab_resultat_tableau">
	<thead>
		<tr>
			<td>
				<div class="mini-fleche-haut-bas" data-index="0" data-type="string" data-sort="ASC" onclick="tri(event)"></div>{$libelle}
			</td>
			{if condition="$option_affichage == 'O'"}
				<td>
				{if condition="$option_date"}
					<div class="mini-fleche-bas" data-index="1" data-type="date" data-sort="DESC" onclick="tri(event)"></div>Date
				{/if}
				</td>
				<td>
				{if condition="$option_montant"}
					<div class="mini-fleche-haut-bas" data-index="2" data-type="integer" data-sort="ASC" onclick="tri(event)"></div>Montant
				{/if}
				</td>
				<td>
				{if condition="$option_categorie"}
					<div class="mini-fleche-haut-bas" data-index="3" data-type="string" data-sort="ASC" onclick="tri(event)"></div>Categorie
				{/if}
				</td>
				<td>
				{if condition="$option_compte"}
					<div class="mini-fleche-haut-bas" data-index="4" data-type="string" data-sort="ASC" onclick="tri(event)"></div>Compte
				{/if}
				</td>
			{/if}
			{if condition="$option_affichage != 'O'"}
				<td>
					<div class="mini-fleche-haut-bas" data-index="1" data-type="integer" data-sort="ASC" onclick="tri(event)"></div>Montant
				</td>
				<td>
					<div class="mini-fleche-haut-bas" data-index="2" data-type="integer" data-sort="ASC" onclick="tri(event)"></div>Nombres d'op&eacute;rations
				</td>
			{/if}
		</tr>
	</thead>
	<tbody>
		{loop="liste_operation"}
		<tr>
			<td>
				{"\'"|str_replace:"'",$value.libelle}
			</td>
			{if condition="$option_affichage == 'O'"}
				<td>
				{if condition="$option_date"}
					{$value.date|substr:6}/{$value.date|substr:4,2}/{$value.date|substr:0,4} 
				{/if}
				</td>
				<td>
				{if condition="$option_montant"}
					{$value.montant|number_format:2,',',' '} &euro;
				{/if}
				</td>
				<td>
				{if condition="$option_categorie"}
					{"\'"|str_replace:"'",$value.categorie.libelle}
				{/if}
				</td>
				<td>
				{if condition="$option_compte"}
					{$value.compte.libelle}
				{/if}
				</td>
			{/if}
			{if condition="$option_affichage != 'O'"}
				<td>
					{$value.montant|number_format:2,',',' '} &euro;
				</td>
				<td>
					{$value.nb}
				</td>
			{/if}
		</tr>
		{/loop}
		{if condition="$option_montant"}
	</tbody>
	{if condition="$option_affichage == 'O'"}
	<tfoot>	
		<tr>
			<td>TOTAL</td>
			{if condition="$option_date"}
			<td></td>
			{/if}
			<td>{$somme|number_format:2,',',' '} &euro;</td>
			{if condition="$option_categorie"}
			<td></td>
			{/if}
			{if condition="$option_compte"}
			<td></td>
			{/if}
		</tr>
		{/if}
	</tfoot>
	{/if}
</table>